.pageNumber:hover {
  background-color: red;
  color: white;
}


.pageNumber {
  text-align: center;
  font-size: 16px;
  padding: 10px;
  background-color: #E13427;
}

.notPage {
  text-align: center;
  font-size: 16px;
  padding: 10px;
  background-color: whitesmoke;
}

.notPage:hover {
  background-color: #ccc;
  color: white;
}