@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

input[type='range']::-webkit-slider-runnable-track {
    appearance: none;
    height: 5px;
    margin-top: -0.4rem;
}

input[type='range']::-webkit-slider-thumb {
    background-color: #f45;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    pointer-events: auto;
}

button.slick-prev {
    position: absolute;
    left: 5px;
    z-index: 1;
    width: 50px;
    height: 50px;
    border-radius: 1000%;

}

button.slick-next {
    position: absolute;
    right: 5px;
    z-index: 1;
    width: 50px;
    height: 50px;
    border-radius: 100%;

}